<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcO2wYgN9LgmyosV9hgoEbo-Y2DlABeV4</string>
	<key>GCM_SENDER_ID</key>
	<string>70118993511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sbo.mymall</string>
	<key>PROJECT_ID</key>
	<string>sboapp-987ec</string>
	<key>STORAGE_BUCKET</key>
	<string>sboapp-987ec.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70118993511:ios:254e6b0a30fe657473aec2</string>
</dict>
</plist>